@use './reset/reset';
@use './fonts/fonts';
@use './variables/global';
@use './themes/dark';
@use './themes/light';
@use './themes/orange';

body {
  font: var(--font-m);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--primary-color);
}

.content-page {
  display: flex;
}
