.ArticleDetails {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 50px;
}

.avatar {
  margin: 0 auto;
  margin-bottom: 40px;
}

.articleInfo {
  display: flex;
  gap: 10px;
  margin-bottom: 6px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
