.Sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.4s;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px 0;
}

.switchers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 20px;
  gap: 20px;
}

.collapsed {
  width: var(--sidebar-width-colapsed);

  .switchers {
    flex-direction: column;
  }
}

.collapsedBtn {
  color: var(--inverted-primary-color);
  width: 100%;
  margin-bottom: 20px;
  border-radius: 12px;

  &:hover {
    background: var(--inverted-bg-color-brighter);
  }
}
