.items {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 10px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.link {
  margin-left: 10px;
  opacity: 1;
  text-decoration: none;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  width: var(--sidebar-width-colapsed);

  .link {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
