.app_dark_theme {
  --bg-color: #000032;
  --inverted-bg-color: #d0d0d5;
  --inverted-bg-color-brighter: #fff;
  --primary-color: #008000;
  --secondary-color: #075607;
  --inverted-primary-color: #110756;
  --inverted-secondary-color: #170080;

  // Skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // Code
  --code-bg: #191944;

  // Card
  --card-bg: #020269;

  // ListBox
  --listbox-bg: #020269;
}
