.app_light_theme {
  --bg-color: rgb(208 208 213);
  --inverted-bg-color: rgb(0 0 50);
  --inverted-bg-color-brighter: rgb(47 47 81);
  --primary-color: rgb(17 7 86);
  --secondary-color: rgb(23 0 128);
  --inverted-primary-color: green;
  --inverteed-secondary-color: rgb(7 86 7);
}

// other colors
// --inverted-bg-color: #dc793e;
