.app_light_theme {
  --bg-color: #d0d0d5;
  --inverted-bg-color: #000032;
  --inverted-bg-color-brighter: #2f2f51;
  --primary-color: #110756;
  --secondary-color: #170080;
  --inverted-primary-color: #008000;
  --inverteed-secondary-color: #075607;

  // Skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: #0003;

  // Code
  --code-bg: #bbbbc1;

  // Card
  --card-bg: #b1b1b9;

  // ListBox
  --listbox-bg: #b1b1b9;
}

// other colors
// --inverted-bg-color: #dc793e;
