.app_orange_theme {
  --bg-color: #fbf7f4;
  --inverted-bg-color: #ea6306;
  --inverted-bg-color-brighter: #fff;
  --primary-color: #c21505;
  --secondary-color: #840c02;
  --inverted-primary-color: #110756;
  --inverted-secondary-color: #170080;

  // Skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: #0003;

  // Code
  --code-bg: #bbbbc1;

  // Card
  --card-bg: #f1e1d5;

  // ListBox
  --listbox-bg: #f1e1d5;
}
