.app_orange_theme {
  --bg-color: #fbf7f4;
  --inverted-bg-color: #ea6306;
  --inverted-bg-color-brighter: rgb(255 255 255);
  --primary-color: #c21505;
  --secondary-color: #840c02;
  --inverted-primary-color: rgb(17 7 86);
  --inverted-secondary-color: rgb(23 0 128);

  // Skeleton
  --skeleton-color: rgb(255 255 255);
  --skeleton-shadow: rgb(0 0 0 / 20%);
}
