.ArticlesPageFilters {
  margin-bottom: 20px;
}

.sortWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select {
  flex-direction: row;
  align-items: center;
}

.search {
  margin-top: 16px;
}

.tabs {
  margin-top: 16px;
}
