.ArticleDetailsPage {
  min-height: 100%;
}

.recommendationsTitle {
  margin-bottom: 20px;
}

.recommendations {
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 20px;
}

.commentsTitle {
  margin-bottom: 20px;
}

.comments {
  margin-bottom: 20px;
}
