.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  gap: 25px;
}

.logOut {
  justify-content: right;
}
