.InputWrapper {
  display: flex;
  flex-direction: column;
}

.placeholder {
  margin-bottom: 5px;
}

.input {
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 8px 16px;
}

.readonly {
  .input {
    background: rgb(255 255 255 / 70%);
  }
}

.widthMax {
  width: 100%;
}
