.ProfileCard {
  border: 2px solid var(--inverted-bg-color);
  padding: 15px;
  border-radius: 12px;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
}

.btn {
  border-radius: 12px;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputWrapper {
  display: flex;
  gap: 10px;

  .input {
    flex: 1;
  }
}

.isLoading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editing {
  border: 2px solid var(--red-dark);
}
